<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  </head>
  <body ng-controller="StoreController as store" ng-style="{}">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products" ng-hide="product.soldOut" >
        <h1> {{product.name}}
          <em class="pull-right"> {{product.price | currency}} </em>
        </h1>

        <div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
          <img class= "img img-circle img-thumbnail center-block" ng-src="{{product.images[gallery.current].full}}" />
          <ul class="clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="i in getNumber(product.mythrilCount) track by $index"><img ng-src="{{product.images[gallery.current].thumb}}" /></li>
          </ul>
        </div>

        <section ng-controller="PanelController as panel">
          <ul class="nav nav-pills">
            <li ng-class="{ active: panel.isSelected(1) }">
              <a href ng-click="panel.selectTab(1)"> Description </a>
            </li>
            <li ng-class="{ active: panel.isSelected(2) }">
              <a href ng-click="panel.selectTab(2)"> Specifications </a>
            </li>
            <li ng-class="{ active: panel.isSelected(3) }">
              <a href ng-click="panel.selectTab(3)"> Reviews </a>
            </li>
          </ul>

          <div class="panel" ng-show="panel.isSelected(1)">
            <h4> Description </h4>
            <blockquote> {{product.description}} </blockquote>
          </div>
          <div class="panel" ng-show="panel.isSelected(2)">
            <h4> Specification </h4>
            <blockquote> {{product.specification}} </blockquote>
          </div>
          <div class="panel" ng-show="panel.isSelected(3)">
            <h4> Reviews </h4>
            

            <blockquote ng-repeat="review in product.reviews">
              <p><b>Stars: {{review.stars}}</b></p>
              <p>{{review.body}}</p>
              <p><cite>—{{review.author}}</cite></p>
            </blockquote>

            <form name="reviewForm">
              <blockquote>
                <p><b>Stars: {{review.stars}}</b></p>
                <p>{{review.body}}</p>
                <p><cite>—{{review.author}}</cite></p>
              </blockquote>

              <h4><b>Submit a Review</b></h4>
              <fieldset class="form-group">
                <select ng-model="review.stars" class="form-control">
                  <option value="" selected>Rate the Product</option>
                  <option value="1">1 star</option>
                  <option value="2">2 stars</option>
                  <option value="3">3 stars</option>
                  <option value="4">4 stars</option>
                  <option value="5">5 stars</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="review.body" class="form-control" placeholder="Write a brief review of the product..."></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input class="form-control" ng-model="review.author" type="email" placeholder="JohnSmith@example.com" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>

          </div>
        </section>

        <button ng-show="product.canPurchase"> Add to Cart </button>
      </li>
    </ul>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>