<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  </head>
  <body ng-controller="StoreController as store" ng-style="{}">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products" ng-hide="product.soldOut" >
        <h1> {{product.name}}
          <em class="pull-right"> {{product.price | currency}} </em>
        </h1>
        <div class="gallery" ng-show="product.images.length">
          <img class= "img img-circle img-thumbnail center-block" ng-src="{{product.images[0].full}}" />
          <ul class="clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="i in getNumber(product.mythrilCount) track by $index"><img ng-src="{{product.images[0].thumb}}" /></li>            
          </ul>
        </div>
        <p> {{product.description}} </p>
        <button ng-show="product.canPurchase"> Add to Cart </button>
      </li>
    </ul>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>